<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Developer | Jesus Marcano</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>
    <div id="app">
      <div class="button" style="position:absolute;right:0px;top:0px;text-transform:uppercase" @click.prevent="togglelang()">{{ lang.native }}</div>
      <section class="section">
        <div class="container">
          <div class="columns is-gapless" style="background:silver">
            <div class="column is-one-quarter">
              <img class="profile-img" src="https://media.licdn.com/dms/image/C5603AQHGh1TvwnA2kQ/profile-displayphoto-shrink_200_200/0/1527779870637?e=1704326400&v=beta&t=X06VMoHUVXfkWrW6ackzUULMiJmqff8bs0kIeDeMmdA" alt="">
              <pre>{{ $data.header }}</pre>
              <div class="column">
                <div class="notification is-info is-portfolio">
                  <p><i class="fa fa-cogs"></i> Experience</p>
                  <app-experience></app-experience>
                </div>
              </div>
              <div class="column">
                <div class="notification is-info is-portfolio">
                  <p><i class="fa fa-cubes"></i> Knowledge</p>
                  <app-knowledge></app-knowledge>
                </div>
              </div>
            </div>
            <div class="column is-three-quarters ">
              <div class="column notification">
                  <div class="columns">
                    <div class="column is-three-quarters">
                      <h1 class="title center">Jesus Marcano</h1>
                      <h1 class="subtitle">Software Developer</h1>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <div class="notification is-info is-portfolio">
                        <p><i class="fa fa-superpowers"></i> Skills</p>
                        <app-skills></app-skills>
                      </div>
                    </div>
                  </div>

                  <div class="columns">
                    <div class="column is-half">
                      <div class="notification is-info">
                        <p>Supported languages</p>
                        <h3 class="subtitle"><i class="fa fa-language"></i> Human</h3>
                        <span v-for="lang in lang.human">
                          <a @click.prevent="language(lang)" ><i class="is-primary">{{ lang }}</i></a> /
                        </span>
                        <hr>
                        <h3 class="subtitle"><i class="fa fa-code"></i> Programming</h3>
                        <app-languages></app-languages>
                      </div>
                    </div>
                    <div class="column">
                      <div class="notification is-info">
                        <p><i class="fa fa-gear"></i> Frameworks</p>
                        <app-frameworks></app-frameworks>
                      </div>
                      <div class="notification is-info">
                        <p><i class="fa fa-desktop"></i> IDE</p>
                        <app-ides></app-ides>
                      </div>
                    </div>
                    <div class="column" v-if="false">
                      <div class="notification is-info">
                        <p><i class="fa fa-download"></i> Downloads Demo</p>
                        <app-demos></app-demos>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                        <div class="notification is-info">
                          <p><i class="fa fa-github"></i> Github Projects</p>
                          <app-github></app-github>
                        </div>
                    </div>
                  </div>
                  <h1 class="title">Jobs</h1>
                  <app-jobs></app-jobs>
              </div>
            </div>
          </div>
        </div>

      </section>


      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            Iapeto Studios 2018
          </div>
        </div>
      </footer>
    </div>
  <script src="https://unpkg.com/vue@2.7.15/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@2.8.1/dist/vue-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
  <script src="assets/js/app.js"></script>
  </body>
</html>
